body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #333
}

div {
  background: #ccc;

}

#part_needed_text{
    display: none;
}
 #part_needed_check:checked ~ #part_needed_text{
    display: inline-block;
}

#leftbox{
  position:relative;
  margin: 5px ;
  width: 25%;
  padding: 15px;
  float:left;

   /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

#workorderbox{
  position:relative;
    height: 200px;
}

label {
    /* Other styling... */
    text-align: left;
    clear: both;
    margin-right:15px;
}

div.bottom_button {
  position: absolute;
  width: 50%;
  bottom: 10px;

}

.partbox {
    /* Other styling... */
    width:100%;
    float:left;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}