body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #333
}

div {
  background: #ccc;

}

#part_needed_text{
    display: none;
}
 #part_needed_check:checked ~ #part_needed_text{
    display: inline-block;
}

p.error{
color:darkred
}

p.success{
color:green
}

.lookup{
text-align: center;
}


#leftbox{
  position:relative;
  margin: 5px ;
  width: 25%;
  padding: 15px;
  margin: auto;

   /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.normalbox{
  position:relative;
    height: 300px;
}}

#workorderbox{
  position:relative;
    height: 300px;
    text-align:leftbox;
}

#modifyorderbox{
  position:relative;
    height: 300px;
}

#editorderbox{
  position:relative;
    height: 300px;
}

label {
    /* Other styling... */
    text-align: left;
    clear: both;
    margin-right:15px;
}

div.bottom_button {
  position: absolute;
  width: 50%;
  bottom: 10px;

}

div.bottom_button_edit {
  bottom: 10px;

}

.partbox {
    /* Other styling... */
    width:100%;
    float:left;
}
