<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Part</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
<div class="leftbox">
    <div class="addbox">
        <form action="{{ url_for('part_add') }}" method="POST">
                <strong>Part ID:</strong><input type="text" name="part_id" autocomplete = "off"><br />
                <strong>Part Description:</strong><input type="text" name="part_description" autocomplete = "off"><br />
                <strong>Part Revision:</strong><input type="text" name="part_revision" autocomplete = "off"><br />
            <input type="Submit" name="New Part" value="Submit"><br />
            <input type="Reset" name="New Part" value="Reset"><br />
        </form>
    </div>
    {% if error %}
        <p class="error"><strong>Error: {{ error }}</strong>
    {% endif %}
    {% if success %}
        <p class="success"><strong> {{ success }}</strong>
    {% endif %}
</div>
</body>
</html>