<!doctype html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
</head>
  <style>
div {
  width: 320px;
  border: 5px solid gray;
  margin: auto;
  text-align: center;
}
</style>
   <body>
   <div>
      <p>
      Welcome {{session_user}}
         {#TODO : Need to add catchy buttons#}
         <br />
         <a href="./workorder/add">New Work Order</a><br />
         <a href="./workorder/edit">Edit / Close Existing Work Order</a><br />
         <a href = "./logout">Log Off</a>
      </p>
      {%if session_user == 'root' %}
      <p>
         Root menu:
         <form action = "/root" method = "post">
            <input type="Submit" value="New User">
            <input type="Submit" value="New Part">
         </form>
      </p>
      {%endif%}


   </div>
   </body>
</html>