<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import Parts</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <div id="leftbox">
        <div class="partsbox">
            <form method="POST" action="" enctype="multipart/form-data">
                <input type="file" id="input" name="file">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </form>
            <form action="/">
                <input type="submit" value="Return">
            </form>
        </div>
        {% if error %}
            <p class="error"><strong>Error: {{ error }}</strong>
        {% endif %}
        {% if success %}
            <p class="success"><strong> {{ success }}</strong>
        {% endif %}
    </div>
</body>
</html>