<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <meta charset="UTF-8">
    <title>Workorder Creator</title>
</head>
<body>
<div id="leftbox">
        {% if neworder == True%}
    <div id="workorderbox">
        <h2 style="text-align: center;">New Work Order</h2>
            <p>
                <form action = "/workorder/add" method = "POST">
            <label for="location">Location:
                <input type="text" autocomplete = "off" name="location" id="location" placeholder="Example - A15-02" class="workordertextbar"/>
            </label><br />
                <label for="problem">Problem:
                <input type="text" autocomplete = "off" name="problem" id="problem" placeholder="Example - Broke Bill Validator" class="workordertextbar" />
            </label>
                <br/>
            <label for="part_needed_check" class="partbox">Is Part Needed?
                    <input type="checkbox" name="part_needed_check" id="part_needed_check"/>
                    <input type="text" autocomplete = "off" name="part_needed_text" id = part_needed_text placeholder="Put part number here Example - 1234" />
            </label>
            <br /><br/>
            <input type="submit" value="Submit">
            <input type="reset" value="Clear">
            <input type="submit", name="Return" value="Return">
        </form>
            {% if error %}
            <p class="error"><strong>Error: {{ error }}</strong>
          {% endif %}

                {% if success %}
            <p class="success"><strong> {{ success }}</strong>
          {% endif %}
        </div>
        {% endif%}
    {% if editorder == True%}
    <div id ="editorderbox"  class ="lookup">
        {% if lookuporder == True%}
         <h2 style="text-align: center;">Lookup Work Order</h2>
            <form action = "/workorder/edit" method = "post">
                <p>
                    <label for="WorkorderID">Workorder ID:
                        <input type="text" autocomplete = "off" name="WorkorderID" id="WorkorderID" placeholder="1"/>
                     </label>
                    <input type="submit" value="Submit">
                </p>

                    {% if error %}
                        <p class="error"><strong>Error: {{ error }}</strong>
                    {% endif %}
            </form>
            {% endif %}
            <form action={{url_for('index')}}>
                <input type="submit" value="Return">
            </form>

    </div>
    {% endif %}

</div>
</body>
</html>