<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <meta charset="UTF-8">
    <title>Workorder Editor</title>
</head>
<body>
    <div id="leftbox">
        {%if editorder == True%}
            <div id="modifyorderbox">
                    <h2 style="text-align: center;">Modify Work Order</h2>
                        <p>
                            <form action = "/workorder/edit/<{{workorderid}}>" method = "post">
                                <label for="location">Location:
                                 <input type="text" autocomplete = "off" name="location" id="mod_location" value={{session['sqlreturndict']['machine_location']}}>
                                </label><br />
                                <label for="problem">Problem:
                                    <input type="text" autocomplete = "off" name="problem" id="mod_problem" value={{session['sqlreturndict']['workorder_description']}} />
                                </label>
                                <br/>
                                 {%if partadded == True%}
                                 <label for="part_needed_check">Part:
                                    <input type="text" autocomplete = "off" name="part_needed_text" id = mod_part_needed_text value={{session['sqlreturndict']['part_id']}}>
                                 </label>
                                <br />
                                {%endif%}
                            <div class="bottom_button_edit">
                            <input type="submit" name="Submit" value="Submit">
                            <input type="submit" name="closeorder" value="Close Order">
                            <input type="reset" value="Reset">
                            <input type="submit" name="Return" value="Return">
                            </div>
                    </form>
        {%endif%}
        {%if closeorder == True%}
        <p>
                <h2>Close Workorder</h2>
             <form action = "/workorder/edit/{{workorderid}}/close" method = "post">
                <strong>Location : </strong>{{session['sqlreturndict']['machine_location']}}<br />
                <strong>Order Description : </strong>{{session['sqlreturndict']['workorder_description']}}<br />
                <strong>Part ID (if part was used) : </strong>{{session['sqlreturndict']['part_id']}}<br />
                <br />
                <strong>If the work is completed then please press submit, otherwise press return</strong>
                <input type="submit" name="Submit" value="Submit">
                <input type="submit" name="Return" value="Return">
        </p>
        {%endif%}

        {%if confirmedit == True%}
        <p>
             <form action = "/workorder/edit/<{{workorderid}}>/confirm" method = "post">
                <h2>Confirm Edit Workorder</h2>
                <strong>Location : </strong>{{session['sqlreturndict']['machine_location']}}<br />
                <strong>Order Description : </strong>{{session['sqlreturndict']['workorder_description']}}<br />
                <strong>Part ID (if part was used) : </strong>{{session['sqlreturndict']['part_id']}}<br />
                <br />
                <strong>If the work is completed then please press submit, otherwise press return</strong>
                <input type="submit" name="Submit" value="Submit">
                <input type="submit" name="Return" value="Return">
        </p>
        {%endif%}
                 {% if error %}
            <p class="error"><strong>Error: {{ error }}</strong>
          {% endif %}

                {% if success %}
            <p class="success"><strong> {{ success }}</strong>
          {% endif %}
                    </form>
                </div>
            </div>
    </div>
</body>
</html>